/******************************************
                    HEADER
******************************************/

.main-header {
    display: flex;
    flex-direction: column-reverse;
    position:sticky;
    top: 0;
    z-index: 2;

    @media (max-width:768px){
        &{
            flex-direction: column-reverse;
        }
    }
}

#menu{
    display: none;

    &:checked + .nav-bar{
        display: block;
    }

    &:checked ~ .search-bar .menu-toggle__label{
        background-color: yellow;
    }
}

/******************************************
                    NAV BAR
******************************************/

.nav-bar{
    background-color: mediumaquamarine;


    &__nav-list{
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        background-color: black;

        @media (max-width: 768px){
            & {
                flex-direction: column;
            }
        }
    }

    &__nav-item {
        background-color: pink;
    }
    &__nav-link {
        display: block;
        background-color: black;
        color: #fff;
        padding: 2em;
        text-decoration: none;
        height: 80px;
    }

    @media (max-width: 768px){
        &{
            display: block;
        }
    }
}

/******************************************
                    SEARCH BAR
******************************************/

.search-bar {
    /* display: none; */
    background-color: olivedrab;
    //display: flex;
    justify-content: space-between;

    &__form-container{
        padding: 1.8em;
    }

    &__logo-container{
        background-image: url('/img/LOGO-removebg-preview.png');
        background-size:contain;
        background-position: center;
        position: absolute;
        padding:2.5em;
    }

    &__form-container{
        display: none;
        background-color: gold;
        flex-basis: 100%;
        justify-content: center;
    }

    &__form-label{
        background-color: greenyellow;
    }

    &__form-search{
        background-color: deeppink;
        width: 70%;
    }

    &__form-submit{
        background-color: darkslategray;    
        color: white;    
    }

    &__carrito-container{
        background-image: url('/img/cart-shopping-solid.svg');
        background-size:cover;
        background-position: center;
        position: absolute;
        background-color: white;
        right: 0;
        flex: 0 0 3em;
        padding: 1em;
    }
}

/******************************************
                MENU TOGGLE
******************************************/

.menu-toggle {
    display: none;
    background-color: red;
    flex: 0 0 3em;
    position: relative;
    cursor: pointer;

    &__label {
        display: block;
        background-color: black;
        height: 100%;
    }

    &__top-bread,
    &__meat,
    &__bottom-bread {
        display: block;
        background-color: #333;
        height: .2em;
        position: absolute;
        left: .5em;
        right: .5em;
    }

    &__top-bread{
        top: .8em;
    }

    &__meat{
        top: 50%;
        margin-top: -.1em;
    }

    &__bottom-bread{
        bottom: .8em;
    }

    @media (max-width:768px){
        & {
            display: block;
        }
    }
}
