#nosotros-img{
    background-image: url(../../img/productos/nosotros_escalado_1.jpg);
    background-position: center -150px;
}
.contenedor-text{
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    margin: 3em auto;   
    justify-content: center;
    outline: solid 1px grey;
    width: 70em;
    border-radius: 10px;
}